@import '../../commons/styles/variables';

.panel {
  height: 100%;
  background-color: $grey;
  border-top: 1px solid $grey;
  &:first-child {
    border-top: none;
  }

  transition: height $duration ease-in-out;

  .panel-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    white-space: nowrap;

    cursor: pointer;

    height: 32px;
    padding: 0.2rem 1rem;

    color: $white;
    background-color: $light-dark;
    transition: background-color $duration ease-in-out;

    .panel-name {
      margin-right: 5px;

      .icon-container {
        position: relative;
        display: inline-block;
        left: -50px;
        width: 0px;
        transition: all $duration ease-in-out;

        .min-max-icon {
          display: inline-block;
          font-size: .9em;
          transition: transform $duration ease-in-out;
        }
      }
    }

    .panel-controls {
    }

    &:hover {
      background-color: $light-dark-h;
      .icon-container {
        left: 0px;
        width: 20px;
      }
    }
  }

  .panel-body {
    height: calc(100% - 32px);
    transition-delay: $duration * 0.05;
    transition-property: height;
    overflow: hidden;
    border-top: 1px solid $grey;
  }

  &.minimize-disabled {
    .panel-header {
      cursor: default;

      .panel-name .icon-container {
        display: none;
      }

      &:hover {
        background-color: $light-dark;
      }
    }
  }

  &.minimized {
    height: 32px;

    .panel-body {
      transition-delay: $duration * 0.95;
      height: 0;
    }

    .min-max-icon {
      transform: rotateZ(-90deg);
    }
  }
}
