@import '../../commons/styles/colors.scss';

.editor {

  .editor-header {
    height: 42px;
    background-color: $grey-2;
    border-top: 1px solid $bg-color;

    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    .header-left {
      i {
        margin-right: 10px;
      }
    }

    .header-right {
      >i {
        font-size: 1.5em;
      }
      button {
        margin-left: 10px;
        margin-top: -8px;
      }
    }
  }

  .editor-body {
    display: flex;
    height: calc(100% - 42px);

    .left-panels {
      width: 100%;
      background-color: $grey-1;

      display: flex;
      flex-direction: column;
    }

    .panel-gutter {
      position: relative;
      width: 0px;
      z-index: 100;
      top: 1px;

      outline: 2px solid transparent;
      outline-offset: -1px;
      transition: all .2s ease-in-out;

      .gutter-bar {
        position: absolute;
        cursor: ew-resize;
        height: 100%;
        left: -5px;
        width: 10px;
        user-select: none;

        i {
          position: relative;
          top: 50%;
          left: 7px;
        }
      }

      &:hover {
        outline-color: $primary;
        color: $primary;
      }
    }

    .function-code {
      position: relative;
      width: 100%;

      background-color: lightblue;
    }

  }

}

@media (orientation: landscape) {
  .editor {
    height: calc(100vh - 42px);
  }
}

@media (orientation: portrait) {
  .editor {
    .editor-body {
      display: block;

      .left-panels[style] {
        width: 100% !important;
      }

      .function-code[style] {
        width: 100% !important;
      }
    }

    .panel-gutter {
      display: none;
    }

    .left-panels, .function-code {
      min-height: 75vh;
    }
  }
}