@import '../../commons/styles/variables';

.editor {
  height: calc(100vh - 42px);

  .editor-body {
    height: calc(100% - 42px);

    .left-panels {
      height: 100%;

      display: flex;
      flex-direction: column;

      .add-image {
        transition: transform $duration ease-in-out;
        &:hover {
          transform: rotateZ(-90deg);
        }
      }
    }

    .right-panels {
      height: 100%;
    }
  }
}

.is-touch {
  .editor-body {
    height: calc(100vh);
  }
}
