@import '../../commons/styles/colors.scss';

.navbar {
  background-color: $bg-color;
  color: $fg-color;
  height: 42px;

  &__logo {
    user-select: none;
  }

  &__company-name {
    font-size: 0.7em;
  }
}