@import '../../commons/styles/variables';

.navbar {
  background-color: $dark;
  color: $white;
  height: 42px;

  .logo {
    user-select: none;

    a {
      font-weight: bold;
      color: $white;

      &:hover {
        color: $white-h;
      }
    }
  }

  .company-name {
    font-size: 0.7em;
  }
}