@import '../../commons/styles/variables';

.v-splitter {
  display: flex;
  width: 100%;
  height: 100%;

  .v-left {
    width: 100%;
    background-color: $grey-h;
  }
  .v-right {
    width: 100%;
  }

  .v-gutter {
    position: relative;
    width: 0px;
    z-index: 100;
    top: 1px;

    outline: 2px solid transparent;
    outline-offset: -1px;
    color: $light-dark-h;
    transition: all $duration ease-in-out;

    &:hover {
      outline-color: $light-dark;
      color: $light-dark;
    }

    .gutter-bar {
      position: absolute;
      cursor: ew-resize;
      height: 100%;
      left: -5px;
      width: 10px;
      user-select: none;

      .gutter-icon {
        position: relative;
        top: 50%;
        left: 7px;

        &.fa-ellipsis-v {
          margin-top: 7px;
        }
      }
    }
  }

  &.is-dragging {
    .v-gutter {
      outline-color: $light-dark;
      color: $light-dark;
    }
  }

}

.is-touch {
  .v-splitter {
    .v-gutter {
      color: transparent;

      .gutter-icon {
        .fa-arrow-circle-left {
          position: relative;
          top: -4px;
          left: 5px;
          transition: left $duration ease-in-out;
        }

        .fa-arrow-circle-right {
          position: relative;
          top: -12px;
          left: -3px;
          transition: left $duration ease-in-out;
        }
      }
    }

    &.is-dragging {
      .v-gutter {
        color: $light-dark;

        .gutter-icon {
          .fa-arrow-circle-left, .fa-arrow-circle-right {
            left: 2px;
          }
        }
      }
    }
  }
}