@import '../../commons/styles/variables';

.function-details-panel {
  transition: max-height $duration ease-in-out;
  max-height: 100vh;
  background-color: $grey;
  overflow: hidden;

  .panel-header {
    height: 42px;
    padding: 0.5rem 1rem;
    background-color: $grey-h;
    transition: background-color $duration ease-in-out;

    display: flex;
    justify-content: space-between;
    white-space: nowrap;

    cursor: pointer;

    .panel-name {
      margin-right: 5px;

      .badge {
        vertical-align: text-bottom;

        margin-left: 10px;
        margin-top: -2px;

        border-radius: 10px;
        min-width: 18px;
      }

      .icon-container {
        position: relative;
        display: inline-block;
        left: 0px;
        width: 20px;
        transition: all $duration ease-in-out;

        .min-max-icon {
          display: inline-block;
          font-size: .9em;
          transition: transform $duration ease-in-out;
        }
      }
    }

    .panel-controls {
      font-size: 1.5em;
      position: relative;
      top: -5px;

      .fa-star-o {
        margin-right: 15px;
      }
    }
  }

  .panel-body {
    padding: 0.5rem 1rem;
  }

  &.minimized {
    max-height: 42px;

    .panel-header {
      background-color: $grey;

      .icon-container {
        left: -50px;
        width: 0px;
      }
    }

    .min-max-icon {
      transform: rotateZ(-90deg);
    }
  }

  .panel-header:hover {
    background-color: $grey-hh;

    .icon-container {
      left: 0px;
      width: 20px;
    }
  }
}
