@import '../../commons/styles/colors.scss';

.user-menu {
  .dropdown-toggle{
    color: $fg-color;
    transition: none;

    .avatar {
      filter: drop-shadow(1px 1px 0 $fg-color)
          drop-shadow(-1px 1px 0  $fg-color)
          drop-shadow(1px -1px 0 $fg-color)
          drop-shadow(-1px -1px 0 $fg-color);
    }

    padding: 0;

    &:hover {
      color: $mg-color;

      .avatar {
        filter: drop-shadow(1px 1px 0 $mg-color)
            drop-shadow(-1px 1px 0 $mg-color)
            drop-shadow(1px -1px 0 $mg-color)
            drop-shadow(-1px -1px 0 $mg-color);
      }
    }

    &:after {
      margin-left: 0.5em;
      vertical-align: 0;
    }
  }
}