@import '../../commons/styles/variables';

.user-menu {
  .dropdown-toggle{
    color: $white;
    transition: none;

    .avatar {
      filter: drop-shadow(1px 1px 0 $white)
          drop-shadow(-1px 1px 0  $white)
          drop-shadow(1px -1px 0 $white)
          drop-shadow(-1px -1px 0 $white);
    }

    padding: 0;

    &:hover {
      color: $white-h;

      .avatar {
        filter: drop-shadow(1px 1px 0 $white-h)
            drop-shadow(-1px 1px 0 $white-h)
            drop-shadow(1px -1px 0 $white-h)
            drop-shadow(-1px -1px 0 $white-h);
      }
    }

    &:after {
      margin-left: 0.5em;
      vertical-align: 0;
    }
  }
}